<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir nuevo lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-input #title type="text" placeholder="Escribe un Título"></ion-input>
            <ion-input #imageURL type="text" placeholder="Pegar URL"></ion-input>
            <ion-button color="primary" (click)="saveNewPlace(title, imageURL)">Guardar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
